@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BCSans";
  font-style: normal;
  font-weight: 400;
  src: url("BCGovFonts/BCSans-Regular.woff2") format("woff2"),
    /* Optimized for very modern browsers */
      url("BCGovFonts/BCSans-Regular.woff") format("woff"),
    local("BCSans"); /* Modern Browsers */
  font-display: swap;
}

@font-face {
  font-family: "BCSans";
  font-style: italic;
  src: url("BCGovFonts/BCSans-Italic.woff2") format("woff2"),
    /* Optimized for very modern browsers */
      url("BCGovFonts/BCSans-Italic.woff") format("woff"),
    local("BCSans"); /* Modern Browsers */
  font-display: swap;
}
@font-face {
  font-family: "BCSans";
  font-weight: 700;
  src: url("BCGovFonts/BCSans-Bold.woff2") format("woff2"),
    /* Optimized for very modern browsers */ url("BCGovFonts/BCSans-Bold.woff")
      format("woff"),
    local("BCSans"); /* Modern Browsers */
  font-display: swap;
}

@font-face {
  font-family: "BCSans";
  font-style: italic;
  font-weight: 700;
  src: url("BCGovFonts/BCSans-BoldItalic.woff2") format("woff2"),
    /* Optimized for very modern browsers */
      url("BCGovFonts/BCSans-BoldItalic.woff") format("woff"),
    local("BCSans"); /* Modern Browsers */
  font-display: swap;
}
